<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>getItemPageData</servlet-name>
        <servlet-class>getItemPageData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addToCart</servlet-name>
        <servlet-class>addToCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>checkout</servlet-name>
        <servlet-class>checkout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>payment</servlet-name>
        <servlet-class>payment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>confirmation</servlet-name>
        <servlet-class>confirmation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getRecentlyViewed</servlet-name>
        <servlet-class>getRecentlyViewed</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getHomePageData</servlet-name>
        <servlet-class>getHomePageData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>validation</servlet-name>
        <servlet-class>validation</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>getItemPageData</servlet-name>
        <url-pattern>/getItemPageData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addToCart</servlet-name>
        <url-pattern>/addToCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>checkout</servlet-name>
        <url-pattern>/checkout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>payment</servlet-name>
        <url-pattern>/payment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>confirmation</servlet-name>
        <url-pattern>/confirmation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getRecentlyViewed</servlet-name>
        <url-pattern>/getRecentlyViewed</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getHomePageData</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>validation</servlet-name>
        <url-pattern>/validation</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>home</welcome-file>
    </welcome-file-list>
</web-app>
